html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  position: relative;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 64px;
  gap: 64px;
  align-items: center;
}

.settings {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 25vw;
  background-color: rgb(199, 199, 199);
  margin: 32px;
}